-- Atölye takip tablosu
CREATE TABLE IF NOT EXISTS atolye (
  id SERIAL PRIMARY KEY,
  teslim_durumu VARCHAR(50) DEFAULT 'beklemede',
  bayi_adi VARCHAR(255) NOT NULL,
  musteri_ad_soyad VARCHAR(255) NOT NULL,
  tel_no VARCHAR(20) NOT NULL,
  marka VARCHAR(100) NOT NULL,
  kod VARCHAR(100),
  seri_no VARCHAR(100),
  sikayet TEXT NOT NULL,
  ozel_not TEXT,
  yapilan_islem TEXT,
  ucret DECIMAL(10, 2),
  yapilma_tarihi TIMESTAMP,
  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
